.App {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  margin: 0;
}

.App .showScore {
  border: 1px solid black;
}

.question-wrap h1 {
  font-weight: 800;
  padding: 10px;
  text-transform: uppercase;
}

.question-wrap p {
  font-size: 25px;
  font-weight: 500;
}

.question-wrap ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 400px) {
  .question-wrap ul {
    flex-wrap: wrap;
  }
}

.question-wrap ul li {
  background: rgb(218, 185, 185);
  width: 20%;
  border: 2px solid;
  padding: 10px;
  margin: 2px;
  font-weight: 800;
}